{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="jumbotron text-center">
    <h1>Connexion</h1>
    <form action="{{ path('login') }}" method="post" class="connexion-form" >

        <input type="text" id="username" name="_username" value="" ng-model="speudo" placeholder="username"/>

        <input type="password" id="password" name="_password" ng-model="passw1" placeholder="Password"/>

        <button type="submit">login</button>

        <a href="http://localhost/Chasseautresor/IHM/index.html#/inscription">Sign up !</a>
    </form>


    </div>
{% endblock %}
